.dashboard {

  .card {
    box-shadow: none;
    display: flex;
    flex-direction: column;
  }

  .card-header {
    box-shadow: none;
    border-bottom: 1px solid $border;
  }

  .card-header-title {
    color: $grey;
    font-weight: $weight-medium;
  }

  .pretty-field {
    display: flex;
    flex-wrap: wrap;

    .pretty {
      color: $grey-dark;
      font-size: $size-7;
      flex-basis: 33.3333%;
      margin: 0 0 .75rem;
      transition: color $speed $easing;

      &:hover {
        color: $text;

        .state label::before {
          color: $grey-dark;
        }
      }

      .state label::before {
        color: $grey-light;
        transition: all $speed $easing;
      }
    }
  }
}

.dashboard-welcome {
  background-color: $dark;
  color: $white;
  margin-bottom: 1.5rem;
  padding: 1.5rem;

  .title,
  .subtitle {
    color: inherit;
  }
}

.dashboard-callouts {

  .tile {
    text-align: center;
  }

  .box {
    padding: 2rem;

    @include desktop {
      padding: 2.5rem;
    }
  }

  .title {
    font-size: 3rem;
  }

  .subtitle {
    color: $grey;
    font-weight: $weight-light;

    @include desktop {
      font-size: 1.75rem;
    }
  }
}
