.inbox {
  background-color: $white;
  display: flex;
  overflow: hidden;
  position: absolute;
    top: 52px; // height of navbar;
    right: 0;
    bottom: 0;
    left: 0;
}

.thread-header {
  background-color: $white;
  border-bottom: 1px solid $border;
  padding: .75rem;
  text-align: center;
  z-index: 9;

  & > span {
    font-weight: $weight-medium;
  }
}

.thread-list {
  border-right: 1px solid $border;
  overflow-y: scroll;
  height: 100%;

  @include tablet {
    flex: none;
    width: 41.666667%;
  }

  @include desktop {
    width: 33.33333%;
  }
}

.thread-list-item {
  align-items: center;
  border-left: 2px solid transparent;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  padding: .75rem;
  transition: background-color $speed $easing;

  &:hover {
    background-color: rgba($primary, .04);

    .thread-list-item-message,
    .thread-list-item-date {
      color: darken($grey-light, 10%);
    }
  }

  &.is-active {
    background-color: rgba($primary, .08);
    border-left-color: $primary;

    .thread-list-item-message,
    .thread-list-item-date {
      color: $grey;
    }
  }
}

.thread-list-item-figure {
  flex: 0 0 auto;
  margin-right: .75rem;
}

.thread-list-item-details {
  display: none;
  flex: 1 1 auto;
  min-width: 0; // needed for text-overflow truncate bug

  @include tablet {
    display: block;
  }
}

.thread-list-item-details-header {
  display: flex;
  justify-content: space-between;
  min-width: 0;
}

.thread-list-item-name {
  font-weight: $weight-bold;
  max-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.thread-list-item-message,
.thread-list-item-date {
  color: $grey-light;
  font-size: .875em;
  transition: color $speed $easing;
}

.thread-list-item-message {
  max-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.thread-list-item-date {}





.thread {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
  justify-content: space-between;
  position: relative;

  @include tablet {
    flex: none;
    width: 58.33333%;
  }

  @include desktop {
    width: 66.66667%;
  }
}

.thread-message-list {
  overflow-y: scroll;
  padding: 0 1.5rem;
  position: absolute;
    top: 49px;
    right: 0;
    bottom: 93px;
    left: 0;
  z-index: 0;

  @include desktop {
    padding: 0 3rem;
  }

  .message {
    margin-top: 1.5rem;

    &:last-child {
      margin-bottom: 1.5rem;
    }

    @include widescreen {
      font-size: 1.125rem;
    }
  }
}

.thread-message-form {
  position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: 9;

  .textarea {
    border: 0;
    border-top: 1px solid $border;
    border-radius: 0;
    box-shadow: none;
    resize: none;
  }
}
