.message {
  display: flex;

  &.is-primary {
    background-color: $primary;
    justify-content: flex-end;

    .message-body {
      color: $white;
    }
  }

  &.is-secondary {
    background-color: $white-ter;

    .message-body {
      color: $text;
    }
  }
}
