.message {
  background-color: transparent !important;
  display: flex;

  .message-body {
    max-width: 90%;

    @include tablet { max-width: 80% }
    @include desktop { max-width: 70% }

    a {
      transition: opacity $speed $easing;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &.is-primary {
    justify-content: flex-end;

    .message-body {
      background-color: $primary;
      color: $white;
    }
  }

  &.is-secondary {
    .message-body {
      background-color: $white-ter;
      color: $text;
    }
  }
}
