//
// 1. Initial variables
// ====================

// $orange: #f67533;
$yellow: #ffd12c;
$green: #00d1b2;
// $turquoise: #5cbbbc;
// $cyan: #17a2b8;
// $blue: #207ccd;
$purple: #8420ff;
// $red: #ea443c;
$pink: #fe13ff;

$family-sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
// $family-serif: 'Kreon', 'Georgia', serif; // add a serif family

$easing: ease-in-out;
$speed: 118ms;

$size-7: .875rem;

//
// 2. Derived variables
// ====================
@import '../../../node_modules/bulma/sass/utilities/derived-variables';

$primary: $purple;
$primary-invert: findColorInvert($primary);
$secondary: $pink;
$secondary-invert: findColorInvert($secondary);
$link: $green;
$link-invert: findColorInvert($link);
// $info: ;
// $info-invert: ;
// $success: ;
// $success-invert: ;
// $warning: $orange;
// $warning-invert: $orange-invert;
// $danger: ;
// $danger-invert: ;
// $dark: ;
// $dark-invert: ;
// $text: ;
// $text-invert: ;

$colors: mergeColorMaps(
  (
    'white': ($white, $black),
    'black': ($black, $white),
    'light': ($light, $light-invert),
    'dark': ($dark, $dark-invert),
    'primary': ($primary, $primary-invert),
    'secondary': ($secondary, $secondary-invert),
    'link': ($link, $link-invert),
    'info': ($info, $info-invert),
    'success': ($success, $success-invert),
    'warning': ($warning, $warning-invert),
    'danger': ($danger, $danger-invert)
  ),
  $custom-colors
);


//
// 3. File-specific overrides
// ==========================
//
// Bulma has other variables split and defined in each file. If all you want to
// do is override them and let them apply normally, override them here.
// ----------------------------------------------------------------------------

$body-background-color: #f5f3fa;

// $box-radius: 0;
// $box-shadow: 0 1rem 3rem rgba($black, 0.175);
// $box-padding: 1.5rem;

// $card-shadow: 0 .125rem .125rem rgba($black, 0.1);
// $card-shadow-hover: 0 1.75rem 4rem -0.75rem rgba($black, 0.28);

// $column-gap: 1.25rem;

// $footer-background-color: $black-ter;

// $menu-item-active-color: $grey-light;
// $menu-item-active-background-color: $background;

// $navbar-item-color: rgba($light, 0.75);
// $navbar-item-hover-color: rgba($light, 0.95);
// $navbar-item-hover-background-color: transparent;
// $navbar-item-active-color: $white;
// $navbar-item-active-background-color: transparent;

// $navbar-dropdown-background-color: $white;
// $navbar-dropdown-border-top: 2px solid $border;
// $navbar-dropdown-offset: -4px;
// $navbar-dropdown-arrow: $link;
// $navbar-dropdown-radius: $radius-large;
// $navbar-dropdown-z: 20;

// $navbar-dropdown-boxed-radius: $radius-large;
// $navbar-dropdown-boxed-shadow: $card-shadow-hover;

// $navbar-dropdown-item-hover-color: $black;
// $navbar-dropdown-item-hover-background-color: $background;
// $navbar-dropdown-item-active-color: $link;
// $navbar-dropdown-item-active-background-color: $background;

// $title-color: $light;
// $title-weight: $weight-semibold;

// $subtitle-color: rgba($light, 0.5);

$switch-background-active: $primary;
